<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/algo.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
  <div id="container">

    <div id="header">
      <h1>Stack (Array Implementaion)</h1>
    </div>
    <div id="AlgoControlSection">

        <input type="text" class="inpt" id="myText" name="" value="">
        <button type="button" id="pbtn" class="btn btn-light" onclick="pushFunction()">Push</button>
        <button type="button" id="pbtn" class="btn btn-light" onclick="popFunction()">Pop</button>
        <button type="button" id="pbtn" class="btn btn-light" onclick="clearStack()">Clear Stack</button>
        <span>Animation speed</span>
        <input type="range" id="slider" min="1" max="10" >
        <!-- <p>top</p> -->
    </div>


    <canvas id="canvas" width="300" height="150">

    </canvas>

  </div>
  <script src="/js/stack_array.js" charset="utf-8"></script>
</body>

</html>
